{
    "root": true,
    "extends": "@ljharb",
    "rules": {
        "no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^next$"
            }
        ]
    }
}
